<div class="layout-chairs">
  <div>
    <div class="layout-type" fxLayout fxLayoutAlign="space-between center">
      <mat-radio-group aria-label="Select an layout" [ngModel]="layoutOption"
        (ngModelChange)="layoutOptionChanged($event)">
        <mat-radio-button value="NORMAL">Normal</mat-radio-button>
        <mat-radio-button value="CURVED">Curved</mat-radio-button>
      </mat-radio-group>
      <app-zoom (zoomChange)="onZoom($event)" [zoom]="zoom"></app-zoom>
    </div>
    <form *ngIf="layoutOption === 'CURVED'" [formGroup]="curvedBlock" fxLayout="column">
      <div>
        <mat-form-field>
          <mat-label>Select Chair</mat-label>
          <mat-select formControlName="chair">
            <mat-option *ngFor="let chair of chairs; let i=index;" [value]="i">{{chair.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="20px">
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="1" max="5" formControlName="rows" matInput placeholder="Number of Rounds">
            <mat-hint>Between 1 to 5</mat-hint>
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="50" max="500" formControlName="radius" matInput placeholder="Radius(px)">
            <mat-hint>Between 50 to 500</mat-hint>
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="10" max="360" formControlName="angle" matInput placeholder="Angle">
            <mat-hint>Between 10 to 360</mat-hint>
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="10" max="50" formControlName="spacing_row" matInput
              placeholder="Spacing between Rounds">
            <mat-hint>Between 10 to 50</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div>
        <p>Number of chairs in rows</p>
        <form formArrayName="chairs" fxLayout fxLayoutGap="20px">
          <div class="layout-option" *ngFor="let n of curved_chairs | slice:0:curved_rows; let i=index">
            <mat-form-field>
              <input matInput [formControlName]="i" type="number">
            </mat-form-field>
          </div>
        </form>
      </div>
    </form>
    <form *ngIf="layoutOption === 'NORMAL'" [formGroup]="rectBlock" fxLayout="column">
      <div>
        <mat-form-field>
          <mat-label>Select Chair</mat-label>
          <mat-select formControlName="chair">
            <mat-option *ngFor="let chair of chairs; let i=index;" [value]="i">{{chair.title}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout fxLayoutGap="20px">
        <div class="layout-option">
          <mat-form-field>
            <mat-label>Sections</mat-label>
            <mat-select formControlName="sections">
              <mat-option *ngFor="let opt of [1, 2, 3, 4]; let i=index;" [value]="opt">{{opt}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="1" max="50" formControlName="rows" matInput placeholder="Rows">
            <mat-hint>Between 1 to 50</mat-hint>
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" formControlName="chairs" min="1" matInput placeholder="Chairs in a row">
          </mat-form-field>
        </div>
        <div class="layout-option">
          <mat-form-field>
            <input type="number" min="0" max="6" formControlName="spacing_chair" matInput
              placeholder="Spacing between chairs(px)">
            <mat-hint>Between 0 to 6</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input type="number" min="0" formControlName="spacing_row" matInput placeholder="Spacing between rows(px)">
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="sections > 1">
        <p>Spacing between sections</p>
        <form formArrayName="spacing_sections" fxLayout fxLayoutGap="20px">
          <div class="layout-option" *ngFor="let sec of spacing_sections | slice:0:sections-1; let i=index">
            <mat-form-field>
              <input matInput [formControlName]="i" type="number">
            </mat-form-field>
          </div>
        </form>
      </div>
    </form>
  </div>
  <div>
    <canvas id="layout_chairs"></canvas>
  </div>
  <div style="margin-top: 1rem">
    <button mat-raised-button color="primary" (click)="create()">Create</button>
    <button style="margin-left: 1rem" mat-button color="primary" (click)="cancel()">Cancel</button>
  </div>
</div>
