.layout-chairs {
  // min-width: 700px;

  .layout-type {
    padding: 24px 0;
    mat-radio-button {
      margin-right: 24px;
    }
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }

  span {
    display: block;
    font-size: 12px;
    color: #555;
  }

  // input {
  //   width: 80px;
  //   padding: 6px 2px;
  // }

  .layout-option {
    margin-bottom: 1rem;
  }

  canvas {
    border: 1px solid #ececec;
    border-radius: 3px;
  }

  p {
    margin-bottom: 0;
  }
}
