mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: calc(100% - 64px)
}

.preview-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;

  .preview-item {
    padding: 8px;
    cursor: pointer;

    &:hover {
      background: white;
      box-shadow:
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    }
  }

  .preview-title {
    margin-top: 8px;
    text-align: center
  }
}

.status-bar {
  border-top: 1px solid rgba(0, 0, 0, .12);
  background: #ececec;
  min-height: 79px;
  width: 100%;

  .status-bar-item {
    td {
      padding: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    span {
      margin-right: 15px;
    }
  }
}

.new-text {
  mat-radio-group {
    padding-left: 12px;

    mat-radio-button {
      margin-right: 16px;
    }
  }
}

.export-btns {
  padding: 24px;

  button {
    width: 100%;
    &:first-of-type {
      margin-bottom: 24px;
    }
  }
}
