<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> -->
    <h1>Room Layout</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container hasBackdrop="false">
  <mat-drawer #drawer mode="side" opened>
    <mat-accordion class="rl-object-options">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Rooms
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let room of furnishings.rooms">
            <mat-list-item (click)="insert(room, 'ROOM')">
              {{room.title}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tables
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-form-field>
          <mat-label>Default Chair</mat-label>
          <mat-select [value]="defaultChairIndex" (valueChange)="defaultChairChanged($event)">
            <mat-option *ngFor="let chair of furnishings.chairs; let i=index;" [value]="i">{{chair.title}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-list>
          <ng-container *ngFor="let table of furnishings.tables">
            <mat-list-item (click)="insert(table, 'TABLE')">
              {{table.title}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chairs
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let chair of furnishings.chairs">
            <mat-list-item (click)="insert(chair, 'CHAIR')">
              {{chair.title}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Miscellaneous
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let m of furnishings.miscellaneous">
            <mat-list-item (click)="insert(m, 'MISCELLANEOUS')">
              {{m.title}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <div *ngIf="init">
          <button mat-icon-button matTooltip="Undo (Ctrl + Z)" (click)="app.undo()" [disabled]="app.states.length === 1"><fa-icon [icon]="['fas', 'reply']"></fa-icon></button>
          <button mat-icon-button matTooltip="Redo (Ctrl + Shift + Z)" (click)="app.redo()" [disabled]="app.redoStates.length === 0"><fa-icon [icon]="['fas', 'share']"></fa-icon></button>
          <button mat-icon-button matTooltip="Clone" [disabled]="app.selections.length === 0"><fa-icon [icon]="['fas', 'clone']"></fa-icon></button>
          <button mat-icon-button matTooltip="Delete (Delete)" [disabled]="app.selections.length === 0"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
          <button mat-icon-button matTooltip="Rotate Anti-Clockwise (Ctrl + Left Arrow)" [disabled]="app.selections.length === 0"><fa-icon [icon]="['fas', 'undo']"></fa-icon></button>
          <button mat-icon-button matTooltip="Rotate Clockwise (Ctrl + Right Arrow)" [disabled]="app.selections.length === 0"><fa-icon [icon]="['fas', 'redo']"></fa-icon></button>
          <button mat-icon-button matTooltip="Group (Ctrl + G)" [disabled]="app.selections.length < 2"><fa-icon [icon]="['fas', 'object-group']"></fa-icon></button>
          <button mat-icon-button matTooltip="Ungroup (Ctrl + E)" [disabled]="app.selections.length != 1"><fa-icon [icon]="['fas', 'object-ungroup']"></fa-icon></button>
          <button mat-button matTooltip="Arrange" [matMenuTriggerFor]="arrange">Arrange</button>
        </div>
        <mat-menu #arrange="matMenu">
          <ng-template matMenuContent>
            <button mat-menu-item>Arrange Left</button>
            <button mat-menu-item>Arrange Center</button>
            <button mat-menu-item>Arrange Right</button>
            <button mat-menu-item>Arrange Top</button>
            <button mat-menu-item>Arrange Middle</button>
            <button mat-menu-item>Arrange Bottom</button>
            <button mat-menu-item>Center Horizontally</button>
            <button mat-menu-item>Center Vertically</button>
          </ng-template>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-view></app-view>
  </mat-drawer-content>
</mat-drawer-container>
