/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #292b2c;
}

.rl-object-options {
  .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .mat-list-item:hover {
    background: #ececec;
    cursor: pointer;
  }

  mat-form-field {
    padding-left: 12px;
    padding-top: 20px;
    width: 90%;
  }
}

.main-container {
  .canvas-container {
    width: 100% !important;
    height: 100% !important;
  }
}

mat-button-toggle {

  &:focus,
  &:active {
    outline: none;
    border: none;
  }
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  font-size: 12px;
  font-weight: normal;
  line-height: none;
}

.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.19375em) scale(.75) !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.34375em;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .5em 0;
}

.mat-form-field-subscript-wrapper {
  margin-top: .16667em;
}
